<h2>Filters</h2>

<form action="/" method="GET">

	{# Color: Mutually exclusive #}

	<h3>Color</h3>

	<ul class="nav">

		{% for item in craft.categories.group('color') %}

			{% set isActive = item.id in craft.request.getParam('color') %}

			<li {{ isActive ? 'class="active"' : '' }}>
				<label>
					<input type="checkbox" name="color[]" value="{{ item.id }}" {{ isActive ? 'checked' : '' }} class="sr-only">
					{{ item.title }}
				</label>
			</li>

		{% endfor %}

	</ul>

	{# Options: Mutually inclusive #}

	<h3>Options</h3>

	<ul class="nav">

		{% for item in craft.categories.group('options') %}

			{% set isActive = item.id in craft.request.getParam('options') %}

			<li {{ isActive ? 'class="active"' : '' }}>
				<label>
					<input type="checkbox" name="options[]" value="{{ item.id }}" {{ isActive ? 'checked' : '' }} class="sr-only">
					{{ item.title }}
				</label>
			</li>

		{% endfor %}

	</ul>

	{# Transmission: Enumeration #}

	<h3>Transmission</h3>

	<ul class="nav">
		
		{% set transmission = craft.request.getParam('transmission') %}

		{% set isAny = transmission is empty %}
		<li {{ isAny ? 'class="active"' : '' }}>
			<label>
				<input type="radio" name="transmission" value="" {{ isAny ? 'checked' : ''}} class="sr-only">
				Any
			</label>
		</li>

		{% set isAutomatic = transmission == 'Automatic' %}
		<li {{ isAutomatic ? 'class="active"' : '' }}>
			<label>
				<input type="radio" name="transmission" value="Automatic" {{ isAutomatic ? 'checked' : ''}} class="sr-only">
				Automatic
			</label>
		</li>

		{% set isManual = transmission == 'Manual' %}
		<li {{ isManual ? 'class="active"' : '' }}>
			<label>
				<input type="radio" name="transmission" value="Manual" {{ isManual ? 'checked' : ''}} class="sr-only">
				Manual
			</label>
		</li>

	</ul>

	{# Mileage: Range #}

	<h3>Mileage</h3>

	<label>Min</label>
	<br><input name="mileageMin" value="{{ craft.request.getParam('mileageMin') }}">

	<br><br><label>Max</label>
	<br><input name="mileageMax" value="{{ craft.request.getParam('mileageMax') }}">

	<input type="submit" value="Refresh" class="btn btn-primary sr-only">

</form>
